@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #141414;
    color: whitesmoke;
}

header, main {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 25px;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-color: #141414;
   
}

header img {
    display: inline-block;
    align-items: left;
    width: 110px;
}

header img,
header nav {
    background-color: #141414;
    margin-bottom: 20px;
}



header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    gap: 80px;
    font-size: 12px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff79;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
    text-align: right;
    border-bottom: 1.5px solid transparent;
}

header nav ul li a:hover {
    color: #2196F3;
    transform: scale(1.15,1.15);
    border-bottom-color: #2196F3;
}

/* Main Style */

main {
    padding-top: 30px;
}

/* Main Title Style */

main .main-title {
    display: grid;
    width: 500px;
    gap: 10px;
    margin: 40px 0;
}

main .main-title h1 {
    font-size: 39px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 10px;
}

main .main-title h4 {
    color: #cecece;
    font-weight: 600;
}

main .main-title p {
    color: #8f8f8f;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
}

.main-img {
    position: absolute;
    z-index: 2;
    right: 100px;
    top: 80px;
    width: 530px;
    height: auto;
    transition: transform 0.5s;
}

.main-img:hover {
    transform: scale(1.15) translateX(-50px);
}

/* Detail-cards Style */

.details {
    margin: 30px 0;
}

.details h3 {
    padding-bottom: 10px;
}

.detail-card h6 {
    font-size: 15px;
    padding-bottom: 2px;
    color: #2196F3;
}

.detail-card p {
    transition: color 0.3s, transform 0.3s;
}

.detail-card a {
    text-decoration: none;
}

.detail-card a:hover p{
    color: white;
    transform: scale(1.05);
}

/* Map Style */

.map {
    margin: 30px 0 50px;
}

.map h3 {
    color: white;
    padding: 0 0 5px;
}

.map a {
    text-decoration: none;
    color: #8A8F99;
    font-size: 14px;
}

.map a p {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.map a:hover p {
    color: #2196F3;
    transform: scale(1.2);
}

/* Form Style */

.direct {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
}

.contact-form h3 {
    margin: 0 0 18px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #555;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 0 20px;
}

input {
    height: 45px;
}

textarea {
    height: 180px;
    resize: none;
    padding-top: 22px;
    margin-top: 10px;
}

input::placeholder, textarea::placeholder {
    color: #cfcfcf;
}

.submit-button {
    display: block;
    width: 300px;
    height: 40px;
    margin: 5px auto 0;
    border: 0;
    border-radius: 2px;
    background-color: #2196F3;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.submit-button:hover {
    transform: scale(1.1,1.1);
    background-color: #4FC3F7;
}



















/* Fotter Styles */

footer {
    background-color: #0f0f0f;
    padding: 20px;
    text-align: center;
    color: #8A8F99;
}

.help-center {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.help-center h3 {
    color: #ffffff;
    font-size: 13px;
    font-weight: 800;
    padding: 0 0 8px 0;
}

.help-center a {
    text-decoration: none;
    color: #8f8f8f;
    margin-top: 5px;
    font-size: 12px;
    transition: color 0.3s, transform 0.3s;
}

.help-center a:hover {
    color: #ffffff;
}

footer hr {
    border: none;
    height: 1px;
    background-color: #8f8f8f;
    width: 90%;
    margin: 10px auto;
}

footer p {
    font-size: 12px;
}